.wrap {
  width: 100%;
  background-color: white;
  position: relative;
}
.wrap h1 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 60px;
  position: absolute;
  left: 700px;
}
.wrap .play-nav {
  position: absolute;
  top: 152px;
  left: 620px;
}
.wrap .play-nav a {
  color: #8c8c8c;
  font-size: 18px;
  display: inline-block;
  width: 165px;
  text-align: center;
  padding-bottom: 10px;
}
.wrap .play-nav .on {
  border-bottom: 4px solid red;
}
.zutibox {
  width: 100%;
  height: 1960px;
  background-color: #f3f3f3;
  overflow: hidden;
}
.zutibox #zhuti a {
  color: gray;
}
.zutibox #zhuti a li {
  width: 650px;
  height: 480px;
  position: relative;
  margin-left: 300px;
  margin-bottom: 10px;
}
.zutibox #zhuti a li img {
  width: 100%;
  height: 410px;
  border-radius: 10px;
}
.zutibox #zhuti a li .boxp {
  width: 648px;
  height: 120px;
  border: 1px solid #e7e7e7;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: rgba(216, 216, 216, 0.835);
  position: absolute;
  top: 289px;
}
.zutibox #zhuti a li .boxp p {
  margin: 20px;
  color: #373737;
}
.zutibox #zhuti a li .boxp .pinlun {
  position: relative;
}
.zutibox #zhuti a li .boxp .pinlun .logo {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0.5px solid gray;
  background: url(../images/tx.jpg) no-repeat;
  background-size: 100%;
  margin-left: 20px;
  position: absolute;
  top: -2px;
}
.zutibox #zhuti a li .boxp .pinlun .texti {
  color: #c00000;
  font-size: 14px;
  margin: 0 3px 0 53px;
}
.zutibox #zhuti a li .boxp .pinlun .time {
  font-size: 13px;
  color: #929292;
}
.zutibox #zhuti a li .boxp .pinlun .icon-zan {
  margin-left: 400px;
}
.zutibox #zhuti a li .boxp .pinlun .icon-pinglun {
  font-size: 14px;
}
.zutibox #zhuti a li .boxp .pinlun .zan,
.zutibox #zhuti a li .boxp .pinlun .look {
  font-size: 13px;
}
.zutibox #zhuti a li .weib {
  width: 648px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #b9b9b9;
  margin: 10px 0;
}
.zutibox #zhuti a li:hover img {
  animation: an 1.5s infinite;
}
@keyframes an {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.right {
  top: 270px;
  left: 970px;
  width: 269px;
  height: 735px;
}
.right .ty .title {
  border-left: 7px solid #ff6600;
  font-size: 20px;
  font-weight: 500;
  text-indent: 30px;
  margin-bottom: 20px;
}
.right .ty .info h5 {
  font-size: 16px;
  margin: 10px 0;
}
.right .ty .info p {
  font-size: 13px;
  color: #9b9999;
}
.right .guanzhu .title {
  border-left: 7px solid #ff6600;
  font-size: 20px;
  font-weight: 500;
  text-indent: 30px;
  margin-bottom: 20px;
  margin: 20px 0;
}
